
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 4rem;
    margin-top: 5rem;
}

.image {
    width: 45vw;
    margin-top: -4rem;
}

.information {
    padding-left: 2rem;
    padding-top: 1rem;
}

.information > h1 {
    font-size: 3.5rem;
    color: rgb(161, 195, 255);
    margin-bottom: 1rem;
}

.information > h3 {
    font-size: 2.5rem;
    color: rgb(125, 144, 255);
    margin-top: 0;
}

.information > p {
    color: rgb(151, 151, 151);
    padding-right: 3rem;
    line-height: 1.9rem;
}